
<form #myFrm="ngForm">
    <div *ngIf="!lgs" disabled class="form-group col-md-5 offset-3">
      <br/>
  
      <div>
        old password :
        <input type="password" class="form-control" #password placeholder="Enter current password">
  
      </div>
      <br/>
      <div>
        <button class="btn btn-primary form-control" (click)="Submit1(password)">
          submit</button>
      </div>
    </div>
    <div *ngIf="lgs" class="form-group col-md-5 offset-3">
  
      new Password :
      <input type="password" class="form-control" name="password" [(ngModel)]="ch.password" #password="ngModel" minlength="6" placeholder="enter new password"
        required/>
      <div class="text-danger" [hidden]="(password.valid||password.untouched) && (password.dirty||password.pristine)">
        <span [hidden]="!password.hasError('minlength')" class="text-danger">Password should be 6 characters long</span>
        <span [hidden]="!password.hasError('required')" class="text-danger">pls enter new password</span>
      </div>
      <div>
        Confirm Password :
        <input type="password" class="form-control" name="Confirm password" #pwConfirm="ngModel" placeholder="re-enter password"
          ngModel required compare="password" />
        <div class="text-danger" *ngIf="pwConfirm.invalid && (pwConfirm.dirty||pwConfirm.touched)">
          <div *ngIf="pwConfirm.errors['required']">You can't leave this empty</div>
          <div *ngIf="!pwConfirm.errors['required'] && pwConfirm.errors['compare']">Re-entered password do not match</div>
        </div>
      </div>
      <br/>
      <div>
        <button class="btn btn-primary form-control" [disabled]="!myFrm.valid" (click)="update(myFrm)">
          update</button>
      </div>
  
    </div>
  </form>